# Ignorer les fichiers sensibles et temporaires
.env
.env.*
*.env
*.env.*
node_modules/
sessions/
*.log
# Pour ignorer tous les fichiers sensibles et de config
*.sqlite
*.db
*.db3
*.bak
*.pid
*.seed
*.secret
*.key
*.pem
*.crt
*.cert
*.pfx
*.jks
*.p12
*.DS_Store
Thumbs.db
# Pour ignorer tous les fichiers du dossier api sauf ceux nécessaires
!server.js
!.gitignore
